/* .THIS .tableFixHead { overflow: auto; height: 550px; }
.THIS .tableFixHead table { border-collapse: inherit; width: 100%; } 
.THIS .tableFixHead th { position: sticky; top: 0; background: white; z-index: 2; } */
.slds-size_5-of-12 {
    width: 42.666667%;
}
.slds-size_2-of-12 {
    width: 23.666667%;
}
.slds-size_1-of-12 {
    width: 6.333333%;
}
.slds-alert_warning{
    background-color: #bddff1;
}
.slds-truncate{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.container{
    background-color: white;
    margin: -12px;
    padding: 2%;
    position: relative;
}
.container .header{

}
.container .header .title{
    text-transform: uppercase;
}
.container .header .details{
    margin: 20px 0;
}
.container .body{
    
}
.container .body table{
    
}
.container .body table thead th .title{
    text-transform: uppercase;
}
.container .body table tbody tr{
    cursor: pointer;
}
.container .body table thead tr th, .container .body table thead tr td, .container .body table tbody tr th,
.container .body table tbody tr td, .container .body table tbody tr th>div{
    height: 83px;
    padding-top: 15px;
    padding-left: 2px;
    padding-bottom: 10px;
}
.container .body table tbody tr td>div{
    padding-top: 15px;
}
.container .body table tbody tr td.commentaire>div {
    padding-top: 0px;
}
.container .footer{
    margin-top: 20px;
}

.background-color-Blue{
    background-color: #007acd;
}

.color-blue{
    color: #007ACD;

}
.border-bleu{
    border-color: #007ACD;
}

tr:hover{
    background-color: #c2dbf3;
}
tbody tr:hover>th, tbody tr:hover>td{
    box-shadow: none !important;
    background-color: #c2dbf3 !important;
}
.slds-table_striped tbody tr:nth-of-type(even)>td, .slds-table_striped tbody tr:nth-of-type(even)>th, .slds-table--striped tbody tr:nth-of-type(even)>td, .slds-table--striped tbody tr:nth-of-type(even)>th{
    background-color: #f1f8ff;
}

.filter-button {
    margin-left: 5px;
    cursor: pointer;
}
.filter-block, .commentaire-details{
    background: white;
    position: absolute;
    border: 0.5px solid #8888884a;
    z-index: 1;
    border-radius: 5px;
    padding: 15px;
    top: 48px;
    display: none;
    font-weight: 400;
}
.filter-block::before, .commentaire-details::before{
    content: "";
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #cbc6c6;
    top: -10px;
    left: 18px;
}
.filter-block.creation{
    left: 49px;
}
.filter-block.canal{
    left: 28px;
}
.filter-block.statut{
    left: 32px;
}
.filter-block.activite{
    left: 41px;
}
.filter-block.piece-jointe{
    left: 69px;
}
.filter-block.comment{
    left: 80px;
}
.filter-block .container-popup .slds-form-element{
    margin-bottom: 10px;
}
.commentaire-text{
    
}
.display{
    display: block;
}
.commentaire-details{
    width: 80%;
}
.reset-link{
    margin-right: 15px;
    color: darkgrey;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.padding-top-10{
    padding-top: 10px;
}
.border-none{
    border: none;
}
.font-weight-700{
    font-weight: 700;
    font-size: inherit;
}
.inline-block{
    display: inline-block;
}
.modal-header{
    border: none;
    text-align: left;
    font-weight: 500;
    padding: 25px;
}
.comment-style{
    border: 1px solid #888888ab;
    height: 100pt;
    overflow: auto;
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}
.modal-footer{
    background-color: white;
    border: none;
    text-align: left;
    padding: 25px;
    padding-top: 0;
    padding-bottom: 30px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}