.my-icon {
    --sds-c-icon-color-foreground: white;
    --sds-c-icon-color-background:  #34cea3;
}

.red-icon {
    --sds-c-icon-color-foreground-default: red;
}

div.hr-line_grey {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 4px solid #7A7A7A;
}

div.hr-line_green {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    border-bottom: 4px solid #34cea3;
}
button{
    width: 1.5rem !important;
    height: 1.5rem !important;
}   

.slds-is-active{
    background: rgb(27, 150, 255) !important;
}