.hp-optionsServices {
  grid-template-columns: 1fr;
  padding: 35px 40px;
  margin: 15px;
  min-height: 320px;
}
.hp-bigTitle {
  padding: 0 0 15px 0;
}
.hp-link>a {
  color: var(--secondary-colour);
}
.hp-status {
  color: var(--primary-colour);
}
.hp-buttons {
  border: solid 2px var(--secondary-colour);
  background-color: var(--bg-base);
  color: var(--secondary-colour);
}
.hp-buttons:hover {
  border: solid 2px var(--text-color);
  color: var(--text-color);
}
.hp-buttons:active,
.hp-buttons:focus {
  border: solid 2px var(--primary-colour);
  color: var(--text-color);
}
.hp-option-item {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}
.left {
  justify-self: left;
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  position: relative;
}
.iconChecked {
  display: inline-block;
  width: 25px;
  height: auto;
  position: absolute ;
}
.hp-checked_icon.gaz {
  filter: var(--check-icon-gaz);
}
.option-item {
  padding: 0 0 0 40px;
}
.rightBloc {
  justify-self: right;
}
.hp-option-item {
  padding: 10px 0;
}
.hp-buttons {
  width: 80px;
  height: 30px;
  margin: 0 0 0 10px;
  padding: 7px 15px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  font-family: var(--font-bold);
  font-size: 12px;
  min-width: 80px;
  cursor: pointer;
}
.hp-status {
  display: inline-flex;
  font-family: var(--font-bold);
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.hp-link {
  white-space: nowrap;
}
.hp-link>a {
  text-align: center;
  font-weight: bold;
  font-family: var(--font-bold);
  font-size: 12px;
  text-decoration: underline;
}
.hp-link>a:hover {
  color: var(--text-color);
}
.hp-linkBox {
  display: flex;
  font-family: var(--font-bold);
  font-size: 12px;
  font-weight: bold;
  justify-content: end;
  color: var(--secondary-colour);
  padding: 10px 20px 0 0;
  text-decoration: underline;
}
.hp-linkBox>a {
  color: var(--secondary-colour);
  font-family: var(--font-bold);
  font-size: 16px;
  font-weight: bold;
}
.hp-linkBox>a:hover {
  color: var(--text-color);
}
.hp-linkBox a {
  position: relative;
}
.hp-linkBox a:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.hp-linkBox .chevron::before {
  border-style: solid;
  font-size: 16px;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.60em;
  right: 0.15em;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.60em;
}
.hp-linkBox .chevron.right:before {
  right: -20px;
  transform: rotate(45deg);
}
@media (min-width: 1280px) {
  /* 1440px screen and all screens larger */
}
@media (max-width: 1280px) {
  /* 1280px screen and all screens smaller */
}
@media (max-width: 1024px) {
  /* Ipad and tablets */
  .hp-bigTitle {
    padding: 10px 40px;
    white-space: normal;
  }
  .hp-optionsServices {
    margin: 10px 0;
    grid-template-columns: 1fr;
    padding: 30px 20px 30px 5px;
    min-height: auto;
  }
  .hp-status {
    display: none;
  }
  .left {
    display: grid;
    grid-template-columns: 1fr auto ;
    text-align: left;
  }
  .iconChecked {
    left: 5px;
   }
}
@media (max-width: 576px) { 
      /* mobiles */
      .hp-linkBox {
        justify-content: left;
        padding: 10px 0 0 40px;
      }
      .hp-link {
        padding: 0 0 0 15px;
      }
      .hp-linkBox>a {
        font-size: 14px;
      }
  }
  @media (max-width: 374px) {
    .hp-optionsServices{
      padding: 25px 20px;
    }
  }