.uploadFileButton {
	width : 275px;
	Border-radius : 30px;
	height : 40px;
	background-color : #009DE9;	
	color : white;
}

.vi-modal-background {
	background-color: rgba(0, 0, 0, 0.25);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 20;
	padding-top: 200px;
	padding-left: 446px;
  }
  
  .vi-modal-BttnImportOpen {
	position: absolute;
	top: 50%;
	left: 15%;
	height: 33%;
	width: 75%;
	background-color: #ffffff;
	z-index: 30;
	border-top-left-radius: 25%;
	border-top-right-radius: 25%;
  }

  .vi-modal-content-error {
	background-color: #FFFFFF;
	max-height: 250px;
	overflow-y: auto;
}