/* .tablecontainer{
  margin-left: 10px;
  margin-right: 10px;
}
  .tablecontainer table {
    border: collapse;
    width: 95%;
    height:95%;
  }
  
  .tablecontainer table>thead {
    background-color : rgb(211, 26, 26);
    border :none;
  }
  .spinner-elec {
      padding-top: 5%;
  }
  .spinner-gaz {
      padding-top: 5%;
  } */