.container-tabs {
    position: relative;
}

.icon-energie{
    position: absolute;
    top: 11px;
    width: 25px;
    height: 25px;
    left: 13px;
}

.icon-energie-elec {
    left: 87px;
}

.tableListPa{
    height: 45px;
    border: solid 1px #979797;
    background-color: #767f85;
    table-layout: fixed;
    width: 129px;                                           
    color: #ffffff;
}

td,th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    width:1.5rem;
    height:45px;
    padding: 1% ! important;
}