input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
input[type=checkbox]:focus {
  outline: 0;
}

.hp_popinCotitulaire {
  display: block;
  width: 500px;
  height: auto;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border: solid 30px var(--primary-colour);
  background-image: var(--bg);
}


.hp-header {
  background-color: var(--modal-header);
  border: none;
  display: grid;
  grid-template-columns: 7fr 1fr;
  align-items: center;
  padding: 25px 40px;
}

.hp-closeButton {
  justify-self: end;
}

.hp-closeButton a {
  justify-self: end;
  color: var(--secondary-colour);
  font-family: var(--font-bold);
  font-size: 16px;
  font-weight: bold;
  font-stretch: extra-expanded;
}

.hp-content {
  padding: 30px 20px;
}

.slds-modal {
  top: auto;
}

.hp-firstButton {
  margin: 10px 0 5px 0;
}

.hp-firstButton, 
.hp-secondButton {
  min-width: 215px;
}

.form-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  gap: 15px;
  margin: 25px 0;
}

.hp-client-infos {
  display: flex;
  justify-self: center;
  gap: 20px;
}

.inputs-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.hp-modifs-btns {
  display: flex;
}

.form-item {
  padding: 5px;
}
.hp-delete-msg {
  color: var(--rose);
  font-family: var(--font-bold);
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.slds-input::placeholder {
  font-family: var(--font-normal);
  color: var(--text-disabled);
  font-size: 16px;
  letter-spacing: 0.48px;
  cursor: text;
}
.remove-icon {
  filter: invert(50%) sepia(80%) saturate(4054%) hue-rotate(285deg) brightness(88%) contrast(93%);
}

input,
select,
textarea {
  color: var(--text-color);
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.48px;
}

input:focus,
input:focus-visible,
input:active,
select:focus,
select:focus-visible,
select:active,
textarea:focus,
textarea:focus-visible,
textarea:active {
  color: var(--text-color);
}



select option {
  background-color: var(--bg-base);
}



/* MOBILE */
/* ------------------------------------------------------------------------ */
@media (max-width: 1024px) {




}

@media (max-width: 1024px) {
  /* Ipad and tablets */



}

@media (max-width: 768px) {
  /* mobiles */

}

@media (max-width: 576px) {

  .hp_popinCotitulaire {
    width: auto;
    height: auto;
    border: solid 20px var(--primary-colour);
    margin: 0 15px;
  }

  .hp-bigTitle {
    font-size: 20px;
  }

  .hp-content {
    padding: 20px;
  }

  .hp-header {
    padding: 20px 10px 20px 20px;
  }

  .hp-firstButton, 
  .hp-secondButton {
    min-width: 200px;
  }
  .form-container {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .hp-client-infos {
    gap: 10px;
  }

}