.slds-form-element__label {
    font-size: 1rem !important;
    font-weight: 500;
}

.slds-notify_alert {
    margin-top: 1px;
}

div[data-id='listAddressSuggested'] {
    margin-top: 1px;
    z-index: 98 !important;
}

.customRadioCls .slds-form-element__control .slds-radio{
    display : inline-block !important;
}

.required-color {
    color: rgba(188, 1, 0, 1)
}

.lightning-messages {
    z-index: 98 !important;
}

.spinner {
    z-index: 98 !important;
}

.title-modif {
    color: #00396b;
    font-size: 1.5rem;
    font-weight: 400;
}

.sous-titre-modif {
    color: #00396b;
    font-size: 1.2rem;
    font-weight: 400;
}

.container-sous-section {
    padding-top: 20px;
}