.slds-modal {
  top: auto;
}

.hp-bigTitle {
  padding: 0 0 15px 0;
}

.hp-contrat {
  padding: 35px 40px;
  margin: 15px;
  min-height: 620px;
}
.blue {
  color: var(--blue);
}
.purple {
  color: var(--primary-colour);
}

.hp-contrat-item-title {
  font-family: var(--font-bold);
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.hp-contractInfo {
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  color: var(--text-color);
}
.hp-contrat-item {
 padding: 5px 0;
}

.hp-contractTitle {
  color: var(--blue);
  font-family: var(--font-bold);
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}
.hp-clientRef {
  font-size: 14px;
  font-weight: 200;
  text-align: left;
  color: var(--text-color);
}
.hp-resilBox {
  display: flex;
  font-family: var(--font-bold);
  font-size: 14px;
  font-weight: bold;
  justify-content: end;
  color: var(--secondary-colour);
  padding: 20px 20px 0 20px;
  text-decoration: underline;
}
.hp-resilBox>a {
  color: var(--secondary-colour);
  font-family: var(--font-bold);
  font-size: 14px;
  font-weight: bold;
}
.hp-resilBox>a:hover,
.hp-resilBox>a:active,
.hp-resilBox>a:focus {
  color: var(--text-color);
}
.hp-resilBox a {
  position: relative;
}
.hp-resilBox a:before {
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
.hp-resilBox .chevron::before {
  border-style: solid;
  font-size: 16px;
  border-width: 0.15em 0.15em 0 0;
  content: '';
  display: inline-block;
  height: 0.60em;
  right: 0.15em;
  position: absolute;
  top: 4px;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.60em;
}
.hp-resilBox .chevron.right:before {
  right: -18px;
  transform: rotate(45deg);
}
@media (min-width: 1280px) {
  /* 1440px screen and all screens larger */
}
@media (max-width: 1280px) {
  /* 1280px screen and all screens smaller */
}
@media (max-width: 1024px) {
  .hp-contrat {
    margin: 10px 0;
    min-height: auto;
  }
  /* Ipad and tablets */
}
@media (max-width: 576px) { 
      /* mobiles */
}@media (max-width: 374px) {
  
  .hp-contrat{
    padding: 25px 20px;
  }
  
}