.active {
    color: #19a546;
  }
  .title-service {
    position: absolute;
   
  }
  .enCours {
    color: #ff7f1d;
  }
  
  .prevContract {
    color: #c1c0c0;
    line-height: 1;
    position: absolute;
    bottom: 0;
    padding-right: 5px;
    width: 100%;
    padding-right: 30px;
  }
  
  .bloc-card {
    height: 200px;
  }
  
  .position-right {
    right: 0;
  }
  
  .close-popover:hover {
    cursor: pointer;
  }
  
  .container-card {
    position: relative;
  }
  
  .popover-260 {
    height: 270px;
  }
  
  .container-card .popup-card {
    position: absolute;
    top: 0;
    right: calc(-100% - 12px);
    background-color: #e0f5ff;
  }
  
  .container-card .label {
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #767676;
  }
  
  .container-card .value {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }
  
  .solde-card {
    position: absolute;
    right: 15px;
    font-weight: 500;
    line-height: normal;
    font-size: 22px;
    top: 7px;
  }
  
  /*Happe solde-type*/
  
  .solde-type {
    position: absolute;
    left: 10px;
    top: 23px;
    font-weight: 500;
    line-height: normal;
    font-size: 22px;

  }
  
  .negatif-solde {
    color: #1E90FF;
  }
  
  .null-solde {
    color: #000000;
  }
  .positif-solde {
    color: #c10e24;
  }
  
  .header-border {
    border-top: 1px solid #efebed;
    padding-top: 20px;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .footer-solde {
    margin-top: 3%;
  }
  
  .footer-solde p {
    font-size: 10px;
  }