.THIS .marked {
        /* color: black; */
        background : #c7bcfa;
        /* opacity: 30%; */
        font-size: medium;
}

/* .THIS .marked:hover {
        color: black;
        background : #6647EB;
        opacity: 30%;
        font-size: medium;
} */